.body {

background-color: rgb(167, 167, 167);

}

.first{

color: black;
text-align: center;
margin-top: 10px;

}

.title{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;

}

.second{

text-align: center;

}

.UK img {

    display: block;
    margin: 0 auto; /*margin: auto só centraliza elementos com largura menor que o container */
    width: 600px;   /*Nada centraliza com margin: auto se ocupar 100% da largura */
    padding: 10px;

}

/* junção de uma tag inline com block; ela fica na mesma linha que outros elementos e não quebra a linha automaticamente. */


p {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text_1{

margin-left: 50px;
margin-right: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;

}

.text_2{

margin-left: 50px;
margin-right: 50px;

}

.spacing{

letter-spacing: 2px;

}

.bigben img {

display: block;
margin-top: -500px;
margin-left: auto;
width: 400px;

}

/* PAGE 1 */

.swit img {

display: block;
margin: 0 auto;
height: 450px;
width: 800px;
box-shadow: 3px 3px 8px;
}

ul{

color:black;

}

ol {

color: black;

}
